* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    background-color: rgb(155, 214, 214);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: aliceblue;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff
                      5px 5px 12px rgba(0, 0, 0, .16);
    display: grid;
    grid-template-columns: repeat(4, 68px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #84add1;
    box-shadow: inset 5px 5px 12px #ffffff
                      5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: 1px 0px 6px 12px;
}

button{
    height: 51px;
    width: 53px;
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 12px #ffffff
                    5px 5px 12px rgba(0, 0, 0, .16);
     border: none;
     border-radius: 50%;
     margin: 3px;
     font-size: 16px;
}
.equal{
width: 115px;
border-radius: 40px;
background-color: #ecf0f3;
box-shadow: inset 5px 5px 12px #ffffff
                5px 5px 12px rgba(0, 0, 0, .16);







}